body {
    background-color: #121213;
}

.grid-container {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
    height: 80vh;
    width: 50vw;
}

.card {
    border: 0.5vh solid #3A3A3C;
    padding: 5%;
}

.card h2 {
    color: white;
}

.input-wrapper {
    position: relative;
}

.suggestions {
    background: #3A3A3C;
    color: #F8F8F8;
    position: absolute;       /* ⬅️ make it float above the input */
    bottom: 100%;             /* ⬅️ place above the input field */
    left: 0;
    right: 0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
}

.suggestions div {
    padding: 5px 10px;
    text-align: center;
}
.suggestions div.top-option {
    background-color: #084079; /* nice blue */
    text-align: center;
  }

.suggestions div:hover {
    background-color: #444;
}

.suggestions div.top-option:hover {
    background-color: #054a94;  /* slightly darker blue on hover */
    color: white;
  }

.name-input {
    background-color: #3A3A3C;
    color: #F8F8F8;
    width: 100%;
    text-align: center;
    font-size: 3vh;
}

.hint-wrapper {
    padding: 0.5vh;
}

.hint {
    background-color: #121213;
    color: #F8F8F8;
    text-align: center;
    border: 1px solid #3A3A3C;
    border-radius: 3px;
    font-family: sans-serif;
    width: 100%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.5vh;
    height: 1.8vh;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: background-color 0.3s;
    font-weight: bolder;
}

.hint.flip {
    animation: flip 0.6s forwards;
}

@keyframes flip {
    0% {
      transform: rotateX(0);
    }
    49% {
      transform: rotateX(90deg);
    }
    50% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }  
