body {
  font-family: 'Trebuchet MS', sans-serif;
  background: #121212;
}

.grid-container {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    height: 80vh;
    width: 50vw;
}

.card {
    border: 0.35vh solid #2B2B2B;
    padding: 5%;
    border-radius: 10px;
    background: #20202080;
}

.card h2 {
    color: white;
}

.input-wrapper {
    position: relative;
    padding-bottom: 10px;
}

.suggestions {
    background: #2C2C2C;
    color: #F8F8F8;
    position: absolute;       /* ⬅️ make it float above the input */
    bottom: 100%;             /* ⬅️ place above the input field */
    left: 0;
    right: 0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
}

.suggestions div {
    padding: 5px 10px;
    text-align: center;
}
.suggestions div.top-option {
    background-color: #084079; /* nice blue */
    text-align: center;
    transition: background-color 0.3s;
  }

.suggestions div.top-option:hover {
    background-color: #054a94;  /* slightly darker blue on hover */
    color: white;
  }

.suggestions div:hover {
    background-color: #444;
    transition: background-color 0.3s;
}

.name-input {
    background-color: #2C2C2C;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    border: none;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    transition: background-color 0.5s, color 0.5s;
}

.name-input:disabled {
  color: #9A9A9A;
  background-color: #242424;
}

.name-input:focus {
    outline: none;
    box-shadow: none;
}

.hint-wrapper {
    padding: 0.25vh;
}

.hint {
    background-color: #2C2C2C;
    color: #FAFAFA;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-family: sans-serif;
    width: 100%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.5vh;
    height: 1.8vh;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: background-color 0.6s;
    font-weight: bolder;
}

.hint.flip {
  animation: flip 500ms ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.suggestion {
  padding: 6px 10px;
  cursor: pointer;
}
.suggestion.highlighted {
  background-color: #007bff;
  color: white;
}
