body {
  font-family: sans-serif;
  background: #121212;
  overflow-y: hidden;
  padding-bottom: 5vh;
}

.para {
  color: gainsboro;
  display: absolute;
  top: 3.5vh;
  left: 50vw;
  position: fixed;
  transform: translate(-50%, -50%);
  margin: 0 auto;  
  height: 1vh;
  font-size: 4vh;
  font-weight: bold;
  padding-top: 10px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      
    width: 110vh;
    max-width: 10000px;
    margin: 0 auto;     
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vh;
  height: 75vh;  
  width: 100%;  
}

.card {
  height: 34vh;
  width: 31vh;
  justify-self: center;
  border: 0.35vh solid #2B2B2B;
  padding: 5%;
  border-radius: 10px;
  background: #20202080;
  padding-bottom: 0;
}

.input-wrapper {
    position: relative;
    padding-bottom: 1vh;
}

.suggestions {
    background: #2C2C2C;
    color: #F8F8F8;
    position: absolute;       /* ⬅️ make it float above the input */
    bottom: 100%;             /* ⬅️ place above the input field */
    left: 0;
    right: 0;
    margin-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
}

.suggestions div {
    padding: 5px 10px;
    text-align: center;
}
.suggestions div.top-option {
    text-align: center;
    transition: background-color 0.3s;
}

.suggestions div.highlighted {
    background-color: #084079;
    color: white;
}

.suggestions div:hover {
    background-color: #054a94;
    color: white;
}

.name-input {
  display: grid;
  background-color: #2C2C2C;
  color: white;
  width: 100%;
  text-align: center;
  justify-self: center;
  font-size: 3vh;
  border: none;
  border-radius: 1vh;
  transition: background-color 0.5s, color 0.5s;
}

.name-input:disabled {
  color: #9A9A9A;
  background-color: #242424;
}

.name-input:focus {
    outline: none;
    box-shadow: none;
}

.enter-button {
  /* Add styles for the button here */
  background-color: #2C2C2C;
  color: white;
  border: none;
  border-radius: 1vh;
  font-size: 3vh;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.hint-wrapper {
    padding: 0.25vh;
}

.hint {
    background-color: #2C2C2C;
    color: #FAFAFA;
    text-align: center;
    justify-self: center;
    border: none;
    border-radius: 0.8vh;
    font-family: sans-serif;
    width: 100%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.4vh;
    height: 1.8vh;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: background-color 0.6s;
    font-weight: bolder;
}

.hint.flip {
  animation: flip 0.75s ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.suggestion {
  padding: 6px 10px;
  cursor: pointer;
}
.suggestion.highlighted {
  background-color: #007bff;
  color: white;
}
