body {
  font-family: sans-serif;
  background: #121212;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 5vh;
}

.para {
  color: gainsboro;
  display: absolute;
  top: 3.5vh;
  left: 50vw;
  position: fixed;
  transform: translate(-50%, -50%);
  margin: 0 auto;  
  height: 1vh;
  font-size: 4vh;
  font-weight: bold;
  padding-top: 10px;
  animation: fadeIn 0.75s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.grid-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      
    width: 110vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);   
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vh;
  height: 75vh;  
  width: 100%;  
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
}

.card {
  height: 34vh;
  width: 31vh;
  justify-self: center;
  border: 0.35vh solid #2B2B2B;
  padding: 5%;
  border-radius: 10px;
  background: #20202080;
  padding-bottom: 0;
  animation: fadeIn 1.25s ease-in-out forwards;
}

.input-wrapper {
    position: relative;
    padding-bottom: 1vh;
}

.suggestions {
    background: #2C2C2C;
    color: #F8F8F8;
    position: absolute;       /* ⬅️ make it float above the input */
    bottom: 100%;             /* ⬅️ place above the input field */
    left: 0;
    right: 0;
    margin-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
}

.suggestions div {
    padding: 5px 10px;
    text-align: center;
}
.suggestions div.top-option {
    text-align: center;
    transition: background-color 0.3s;
}

.suggestions div.highlighted {
    background-color: #084079;
    color: white;
}

.suggestions div:hover {
    background-color: #054a94;
    color: white;
}

.name-input {
  display: grid;
  background-color: #2C2C2C;
  color: white;
  width: 100%;
  text-align: center;
  justify-self: center;
  font-size: 3vh;
  border: none;
  border-radius: 1vh 0 0 1vh;
  transition: background-color 0.5s, color 0.5s;
}

.name-input:disabled {
  color: #9A9A9A;
  background-color: #242424;
}

.name-input:focus {
    outline: none;
    box-shadow: none;
}

.enter-button {
  background-color: #2C2C2C;
  color: white;
  border: none;
  border-radius: 1vh 0 0 1vh;
  font-size: 3vh;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  transform: scale(-1, 1);
  cursor: pointer;
}

.enter-button:disabled {
  color: #9A9A9A;
  background-color: #242424;
  cursor: default;
}

.enter-button:focus {
    outline: none;
    box-shadow: none;
}

/*make on hover button go bigger - project for later byron*/

.hint-wrapper {
    padding: 0.25vh;
}

.hint {
    background-color: #2C2C2C;
    color: #FAFAFA;
    text-align: center;
    justify-self: center;
    border: none;
    border-radius: 0.8vh;
    font-family: sans-serif;
    width: 100%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.4vh;
    height: 1.8vh;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: background-color 0.6s;
    font-weight: bolder;
}

.hint.flip {
  animation: flip 0.75s ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.suggestion {
  padding: 6px 10px;
  cursor: pointer;
}
.suggestion.highlighted {
  background-color: #007bff;
  color: white;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;
  background-color: rgb(37, 37, 37);
  border-radius: 1vh;
  text-decoration: none;
  transition: 200ms ease-out;

  color: rgb(196, 196, 196);
  position: fixed;
  z-index: 10;
}

#dailyA, #infiniteA {
  top: 1rem;
  right: 1rem;
}

#resetA {
  top: 1rem;
  right: 5rem;
  /* or swapped for vertical layout */
}

a:hover {
  background-color: #333333;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.page-button:hover {
  background-color: #484848; 
}
.popupContent {
  color: gainsboro;
  display: absolute;
  top: 3.5vh;
  left: 50vw;
  position: fixed;
  transform: translate(-50%, -50%);
  margin-top: 47vh;
  width: 50vh;
  height: 60vh;
  padding: 3vh;
  padding-top: 0;
  z-index: 1002;
  overflow: auto;
  border-radius: 2vh;
  border: 0.35vh solid #2B2B2B;
  background-color: #181818;
  animation: fadeIn 0.75s ease-in-out forwards;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.popupContent::-webkit-scrollbar {
  display: none;
}

.popupContent h2 {
  font-size: 3vh;
  margin-bottom: 2vh;
  text-align: center;
  color: #f8f8f8;
}

.popupContent p {
  font-size: 2vh;
  line-height: 1.6;
  margin-bottom: 1.5vh;
  text-align: center;
  color: #ccc;
}

.popupOverlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  backdrop-filter: blur(1vh);
  -webkit-backdrop-filter: blur(1vh); 
}

.highlight-yellow {
  color: black;
  background-color: #C8B653;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

.highlight-green {
  color: black;
  background-color: #6CA965;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

.popupCloseBtn {
  display: block; 
  position: relative; 
  background-color: #2C2C2C;
  color: white;
  border: none;
  width: 50%;
  border-radius: 1vh;
  font-size: 3vh;
  padding: 0.8vh 1.4vh 1vh 1.4vh;
  cursor: pointer;
  animation: fadeIn 0.75s ease-in-out forwards;
  transition: background-color 0.2s, color 0.5s, transform 0.15s ease-out;

  z-index: 1000;
  margin: 2vh auto 0;
}

.popupCloseBtn:hover {
  background-color: #3d3d3d;
  transform: scale(1.1);
}

#winPopup > .popupContent {
  height: 17vh;
}

#gameOverPopup > .popupContent {
  height: 17vh;
  width: 40%;
}